body{
    background-color: orange;
}
section{
    text-align: center;
}
img{
    width: 15%;
    text-align: center;
}
div{
    font-size: 1em;
}
.olvide{
    padding: 20px;
}
.Parrafo{
    font-size: 16px;
    font-family:monospace;
    padding: 20px;
}
.input-input{
    text-align: -webkit-center;
}
input{
     display: block;
    padding: 10px;
    text-align: center;
    border: 10px;
}
.boton{
    padding:5px;
}
button{
        padding: 7px 76px;
        border-radius: 1mm;
        background-color: blue;
        color: white;
        font-family:Verdana;
        border: 0;

}
a{
   text-decoration: none;
    font-family: monospace;
    color: black;
}
.olvide{
    font-size:1em;
    border-radius: 5mm;
    display: inline-block;
    padding: 6px 30px;
    margin: 20px;
    border: 1px solid #2b29299e;
    background-color: white;
}